<h4>
	<img src="http://graph.facebook.com/{{id}}/picture" />
	{{name}}
</h4>
<div class="popover">
	<ul>
		<li><a onclick="LIB.update()">{{L 'update'}}</a></li>
		<li><a onclick="LIB.logout()">{{L 'logout'}}</a></li>
	</ul>
</div>
