<header>
	<div class="container">
		<div class="user"></div>
		<h4>
			µFB <small>minimalistic ad-free facebook client</small>
		</h4>
	</div>
</header>
<section></section>
<footer>
	<small>µFB &nbsp; | &nbsp; {{L 'thisServiceIs'}} <a href="https://github.com/danielesteban/uFB" target="_blank">{{L 'freeSoftware'}}</a> &nbsp; | &nbsp; Daniel Esteban Nombela © 2013</small>
</footer>
