<div class="unauth">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta ultricies turpis, non ultricies ipsum consectetur a. Ut adipiscing rutrum congue. Vestibulum eu pellentesque ligula. Pellentesque cursus erat nec velit porttitor pretium.
	</p>
	<button class="btn" onclick="LIB.FBLogin()">{{L 'logInWithFB'}}</button>
</div>
